<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <activity
            android:name=".WeatherAPIActivity"
            android:exported="false"
            android:label="@string/title_activity_weather_apiactivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".APIActivity"
            android:exported="false"
            android:label="@string/title_activity_apiactivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".SignInSignUP"
            android:exported="false"
            android:label="@string/title_activity_sign_in_sign_up"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".RoomDbActivity"
            android:exported="false"
            android:label="@string/title_activity_room_db"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".RoomSqlDbActivity"
            android:exported="false"
            android:label="@string/title_activity_room_sql_db"
            android:theme="@style/Theme.AppCompat" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBC5uDECnCrHknKc51dY6ABQp239GlE03g" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Day3Activity"
            android:exported="false"
            android:label="@string/title_activity_day3"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".Day2Activity"
            android:exported="false"
            android:label="@string/title_activity_day2"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".ScaffoldActivity"
            android:exported="false"
            android:label="@string/title_activity_scaffold"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".InstaActivity"
            android:exported="false"
            android:label="@string/title_activity_insta"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false"
            android:label="@string/title_activity_calc"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>